/*--------------------------------------------------------------------*/
/* This is the styling for the HTML template (nav bar + footer).      */
/*--------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM sans", sans-serif, Helvetica;
}

nav {
  background-color: #2a668f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px 1%;
  top: 0;
  z-index: 999;
}

.logo-cont {
  padding-left: 3vw;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.75em;
  font-weight: 700;
}

nav ul li a:hover {
  color: #e77500;
  transition: all 0.3s ease 0s;
}

#nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1vw;
  width: 100%;
}

#left-options,
#right-options {
  display: flex;
  align-items: center;
  padding: 0 2vw;
}

#left-options li,
#right-options li {
  padding: 0 2vw;
}

#logo {
  height: 5vh;
  width: auto;
}

#cart-btn {
  background-clip: padding-box;
  background-color: #e77500;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  cursor: pointer;
  min-height: 0.35rem;
  padding: calc(0.3rem - 1px) calc(1.25rem - 1px);
  transition: all 0.3s;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

#cart-btn:hover,
#cart-btn:focus {
  background-color: #fb8332;
}

#cart-btn:hover {
  transform: translateY(-1px);
}

#cart-btn:active {
  background-color: #c85000;
  transform: translateY(0);
}

#cart-svg {
  height: 3.5vh;
  width: auto;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.75vh;
  width: 100%;
  background-color: #e77500;
}

#lockup {
  height: 5.5vh;
  width: auto;
}

#middle-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#middle-text-cont ul li {
  list-style-type: none;
  text-align: center;
}

#middle-text-cont ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #a0a0a0;
  color: white;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  align-content: center;
  justify-content: space-between;
  font-size: 0.85em;
  text-align: right;
  padding: 0.85% 3.5%;
  position: fixed;
}

/*--------------------------------------------------------------------*/
/* This is the styling for the specific hall-floor route.             */
/*--------------------------------------------------------------------*/

.room-availability-table {
  width: 120%;
  float: right;
  margin: 10vh auto 12vh;
  margin-right: 1vh;
  border-collapse: collapse;
}

.floor-plan-image {
  width: 162.0002vh;
  height: auto;
  border-radius: 1.4728vh;
}

.availability {
  display: inline-flex;
  align-items: center;
}
.room-info-thead {
  background-color: orange;
}

.availability-table-td {
  cursor: pointer;
  padding: 1.4728vh;
  text-align: left;
}

.availability-table-th {
  padding: 1.4728vh;
  text-align: left;
}

tbody tr td[colspan="3"] {
  background-color: #f9f9f9;
  text-align: left;
  padding-left: 2.9455vh;
}

.floor-plan-title {
  margin-top: 11.8173vh; /* Adjust this value based on your header's height */
  font-size: 4.4176vh;
  font-weight: bold;
  /* text-align: center; */
  margin-left: 44.1541vh;
  color: orange;
}

.floor-plan-flexbox {
  display: flex;
  gap: 15.528vh; /* Optional spacing between items */
}

.results-page-title {
  margin-top: 11.8173vh;
  font-size: 5.8824vh;
  font-weight: bold;
  color: orange;
  text-align: center;
}

.res-college-title {
  color: orange;
  text-align: center;
}

/* Center container */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 2.9455vh; /* Adds space from the top of the page */
  width: 100%;
}

/* Table styles */
.availability-table {
  border-collapse: collapse;
  box-shadow: 0 0.589vh 1.178vh rgba(0, 0, 0, 0.2); /* Optional shadow styling */
  width: auto;
  max-width: 100%;
  background-color: #f9f9f9; /* Light background color */
}

/* Header cell styles */
.availability-table th {
  border-bottom: 0.2946vh solid #ddd;
  padding: 1.1782vh 2.3529vh;
  text-align: center;
}

/* Body cell styles */
.availability-table td {
  border-bottom: 0.1473vh solid #ddd;
  padding: 1.1782vh 2.3529vh;
  text-align: center;
}

/* Link styles */
.availability-table a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

/* Hardcoding all table rows to be grey when we hover */
tr:hover {
  background-color: #f2f2f2;
}

.back-link {
  margin-left: 57.6vh;
  color: orange;
}
.back-to-floorplans {
  color: blue;
  text-decoration: underline;
}

/*--------------------------------------------------------------------*/
/* This is the styling for the upload pdfs route.                     */
/*--------------------------------------------------------------------*/

.pdf-upload-page-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#upload-pdfs-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#pdf-upload-text {
  margin-top: 12.5vh; /* when adjusting this, adjust margin-top in pdf-form accordingly */
  margin-bottom: 0;
}

#pdf-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-top: 5vh; /* sum of this and margin-top in pdf-upload-text should be 17.5vh */
  padding: 2vh;
  border: 1px solid #333333;
  border-radius: 2vh;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#file-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e77500;
  padding: 12.5vh 20vh;
  border-radius: 1vh;
  margin-bottom: 2vh;
  cursor: pointer;
}

#file-upload * {
  cursor: pointer;
}

#file-upload img {
  height: 5vh;
  width: auto;
  margin-bottom: 2vh;
  filter: invert(42%) sepia(97%) saturate(964%) hue-rotate(7deg) brightness(95%)
    contrast(105%);
  cursor: pointer;
}

#file-upload span {
  font-size: 1.5em;
  color: #333333;
}

#file-upload label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#file-upload input[type="file"] {
  display: none;
}

#file-upload small {
  margin-top: 1vh;
  font-size: 0.9em;
  color: #333333;
}

#upload-pdfs-cont button {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

#upload-pdfs-cont button:hover {
  background-color: #0056b3;
}

.uploaded-file-name {
  margin-top: 2vh;
  color: #333333;
  font-size: 0.85em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

/*--------------------------------------------------------------------*/
/* This is the styling for the homepage route for filtering.          */
/*--------------------------------------------------------------------*/
.filter-container {
  padding: 0vh;
  border-radius: 1.1782vh;
  max-width: 102.1vh;
  margin: 29.4551vh auto;
}

.filter-container-title {
  color: orange;
  text-align: center;
  font-size: 3.7em;
}

.filter-container-subtitle {
  color: orange;
  text-align: center;
  font-size: 1.8em;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  gap: 5.1607vh; /* Spacing between each filter */
  margin-bottom: 2.9455vh;
  justify-content: center; /* Center-align filters within the container */
  align-items: flex-start; /* Keeps filters vertically aligned */
  padding: 5.154vh;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 29.4551vh;
  max-width: 36.8188vh;
  align-items: flex-end;
}

.filter-label {
  margin-bottom: 0.7364vh;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
}

.filter-select {
  padding: 1.1782vh;
  font-size: 0.8em;
  border-radius: 0.5891vh;
  border: 0.147vh solid #ccc;
  width: 100%;
}

/* Target the placeholder option */
.placeholder-option {
  color: #888; /* Optional: lighter color for placeholder text */
  font-size: 0.5em; /* Reduced font size for placeholder */
}

.filter-submit-button {
  background-color: orange;
  color: white;
  padding: 1.4728vh 1.8785vh;
  font-size: 1rem;
  border: none;
  border-radius: 1.4728vh;
  cursor: pointer;
  margin-top: 1.4728vh;
}

.filter-reset-button {
  background-color: white;
  color: orange;
  border-color: orange;
  border-style: solid;
  padding: 1.4728vh 1.8785vh;
  font-size: 1rem;
  border-radius: 1.4728vh;
  cursor: pointer;
  margin-top: 1.4728vh;
  margin-left: 1.4728vh;
}

.filter-reset-button:hover,
.filter-submit-button:hover {
  background-color: #a09c9c;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1.4728vh;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

/*--------------------------------------------------------------------*/
/* This is the styling for  Floorplan Results page.                   */
/*--------------------------------------------------------------------*/
.results-page-title {
  margin-top: 12.4vh;
  font-size: 1em;
  font-weight: bold;
  color: orange;
  text-align: center;
}

/* Center container */
.table-container {
  display: flex;
  justify-content: center;
  margin-top: 3.1vh; /* Adds space from the top of the page */
  width: 100%;
}

.res-college-title {
  color: orange;
  text-align: center;
}

/* Table styles */
.availability-table {
  border-collapse: collapse;
  box-shadow: 0 0.6vh 1.24vh rgba(0, 0, 0, 0.2); /* Optional shadow styling */
  width: auto;
  max-width: 100%;
  background-color: #f9f9f9; /* Light background color */
}

/* Header cell styles */
.availability-table th {
  border-bottom: 0.3vh solid #ddd;
  padding: 1.24vh 2.48vh;
  text-align: center;
}

/* Body cell styles */
.availability-table td {
  border-bottom: 0.15vh solid #ddd;
  padding: 1.24vh 2.48vh;
  text-align: center;
}

/* Link styles */
.availability-table a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

.availability-table thead {
  background-color: orange;
}

.floorplan-table tr td[colspan="3"] {
  background-color: #f9f9f9;
  text-align: left;
  padding-left: 3.1vh;
}
